*{
    box-sizing: border-box;
}
body{
    background-color:cornflowerblue;
}
header{
    background-color:coral;
    margin:-8px;
    padding-left: 10px;
    padding-bottom: 13px;
}
div.title-name h1{
    font-size:40px;
    margin-bottom: 2px;
    font-weight: lighter;
}
div.title-name span{
    padding-left: 50px;
    font-style: italic;
    font-size: 12px;
    padding-bottom: 13px;
}
div.navigation{
    position: absolute;
    right: 20px;
}
.nav-element{
    background-color: antiquewhite;
    margin-right: 75px;
    font-weight: bold;
    font-size: 20px;
}
.game-title{
    position:absolute;
    left: 587px;
    margin-bottom: 20px;
}

/*for tic tac toe board*/
#winner{
    display: none;
    position:absolute;
    top:285px;
    left: 55px;
    width: 550px;
    height: 250px;
    background-color:violet;
    font-size: 100px;
    text-align: center;
    padding-top: 55px;
    color:tomato;
}
table{
    position: absolute;
    left:50%;
    top:150px;
    margin-left: -225px;
}
.board-cell{
    border-collapse:collapse;
    border: 2px blanchedalmond dashed;
    width:150px;
    height:150px;
    font-size: 75px;
    text-align: center;
}
