*{
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color:cadetblue;
}
a:hover{
    color: coral;
}
header{
    position: relative;
    background-color:lightsalmon;
     margin: -8px;
    width: 100%;
    height: 145px;
    padding-left: 20px;
 }
div.title-name h1{
    font-size:45px;
    padding-top: 15px;
    margin-bottom: 2px;
    font-style: oblique;
    font-weight:bold;
}
div.title-name span{
    padding-left: 50px;
    font-style: italic;
    font-size: 12px;
}
div.navigation{
    position: absolute;
    right:10px;
}
.nav-element{
    position: relative;
    padding: 10px;
    margin-right: 60px;
    font-weight: bold;
    font-size: 25px;
    bottom: -10px;
    color: peachpuff;
}
/* body */
.game-title{
    position: absolute;
    left: 587px;
    top: 135px;
    margin-bottom: 20px;
    cursor: pointer;
}
/*for tic tac toe board*/
#winner{
    position: absolute;
    display: none;
    top:300px;
    left: 400px;
    width: 550px;
    height: 250px;
    font-size: 100px;
    text-align: center;
    padding-top: 55px;
    color:tomato;
}
table{
    position: absolute;
    left:50%;
    top:220px;
    padding-bottom: 5px;
    margin-left: -225px;
    border-collapse: collapse;
    margin-bottom: 20px;
}
.board-cell{
    border-collapse:collapse;
    border: 2px blanchedalmond groove;
    width:150px;
    height:150px;
    font-size: 75px;
    text-align: center;
    cursor:pointer ;
}

table tr:first-child th{
    border-top: none;
}
table tr:last-child th{
    border-bottom: none;
}
.game-box th:first-child{
    border-left: none;
}
.game-box th:last-child{
    border-right: none;
}