a{
    text-decoration: none;
    color:cadetblue;
}
a:hover{
    color: coral;
}
header{
    position: relative;
    background-color:lightsalmon;
    margin: -30px;
    width: 100%;
    height: 145px;
    padding-left: 40px;
 }
div.title-name h1{
    font-size:45px;
    padding-top: 15px;
    margin-bottom: 2px;
    font-style: oblique;
    font-weight:bold;
}
div.title-name span{
    padding-left: 50px;
    font-style: italic;
    font-size: 12px;
}
div.navigation{
    position: absolute;
    right:10px;
}
.nav-element{
    position: relative;
    padding: 10px;
    margin-right: 60px;
    font-weight: bold;
    font-size: 25px;
    bottom: -10px;
    color: peachpuff;
}
.game-title{
    position: relative;
    top: 20px;
    margin-bottom: 50px;
    left: 525px;
    cursor: pointer;
}

/* board */
table{
    border-collapse: collapse;
    margin-left: 390px;
}
th.cell{
    border: 2px solid black;
    width: 40px;
    height: 40px;
    cursor: cell;
}
th.solved{
    background-color: 'green';
}
/* bodering  */
th:nth-child(3),th:nth-child(6){
    border-right-width: 5px;
}
tr.table-row:nth-child(4),#row-3 th,#row-6 th{
    border-top-width: 5px ;
}
/* numbers list */
.container{
    border-collapse: collapse;
}
#num-container{
    float: right;
    position: relative;
    right: 350px;
    bottom: 410px;
    border-collapse: collapse;
}
p.num-container-element{
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: -20px;
    font-size: 17px;
    font-weight: bold;
    font-style: oblique;
    border: 3px salmon solid;
    cursor: grab;
}
p.selected{
    background-color: blue;
    cursor: grabbing;
}

#solution{
    position: absolute;
    color:crimson;
    font-size: 25px;
    font-weight: bolder;
    font-style: italic;
    left: 40%;
    padding-top: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}
